<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ABG - Welcome" />
    <title> <%= title %> </title>
    <link href="../../public/index.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/jpg" href="images/flower_img.png" />
    <script src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
</head>