<button class="burger-menu">
    <i class="fas fa-bars"></i>
    <img src="images/flower_img.png" alt="three petal flower colored blue, purple, and pink" class="mobile-img-logo center" />
</button>
        <nav id="nav-menu" class="nav-menu-mobile">
            <ul class="ul-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <nav class="nav-menu">
            <a href="index.html"><img src="images/flower_img.png" alt="three petal flower colored blue, purple, and pink" class="img-logo" /></a>
            <ul class="ul-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <header>
            <h1 class="text-center"><%= header %></h1>
        </header>
        