/*****  CONTAINERS  ****/
/* nav {
    background-color: silver;
} */

header {
    /* background-color: black; */
    background-color: #000428;
    display: flex;
    flex-direction: row;
}
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    color: whitesmoke;
    text-align: center;
}
h2 {
    font-family: 'Akshar', sans-serif;
    font-size: 1.5rem;
    padding: .5em;
}
h3 {
    font-family: 'Akshar', sans-serif;
    font-size: 1.25em;
}
h2, h3 {
    color: #000428;
}
header.home-header {
    background-color: #000428;
}

li, p, article {
    font-family: 'Akshar', sans-serif;
    font-weight: 300;
    letter-spacing: .01in;

}
section.quote-section {
    min-height: 15vh;
}
div.resume-container {
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), 
    inset 5px 5px 9px rgba(94,104,121,0.3);
}
.work-list {
    padding: .5em 1em;
}
.work-list li small {
    color: darkslategrey;
}

.work-list li:last-child {
    padding-bottom: .5em;
}

.skill-list li:first-child {
    font-size: 1.25em;
    font-weight: bold;
}
footer.footer-container {
    background-color: #004e92;
}
footer img.footer-logo-mobile {
    width: 25px;
    height: auto;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/********************  CSS RESET  ******************************/
h1, h2, h3, h4 {
    margin: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    /* vertical-align: baseline; */
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.section, .container {
    padding: 1em;
}
/********************  MOBILE  ******************************/
body {
    margin: 0;
}
main {
    height: 50vh;
}
main.home-container,
section.headline-container {
    /* border-radius: 1em;
    margin-top: 1em;
    padding: 2em; */
    /* background: #f8f8ff; */
    background: linear-gradient(to bottom, #000428, #004e92);
    color: whitesmoke;
}
main article.article-home {
    padding: 3em 1em;
    font-size: 1.25em;
}
main.projects-container {
    height: 65vh;
    overflow-y: scroll;
}
img.mobile-img-logo.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}
img.img-logo {
    width: 50px;
    height: 50px;

}
img.avatar-mobile {
    display: block;
    margin: auto auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
img.footer-logo-mobile {
    display: block;
    margin: auto auto;

    width: 50px;
    height: 50px;
}
a {
    color: black;
    text-decoration: none;
    padding: 0 5px;

}
a:hover {
    font-size: 1.5em;
}
a:active {
    color: thistle;
}
a:visited {
    color: darkslategray;
}

.hidden {
    visibility: hidden;
}
/* HEADER MOBILE  */
header.mobile {
    padding: 0;
    text-align: left;
} 
    h1.mobile {
        display: inline;
        text-align: center;
    }
/*****  NAV MOBILE  ****/
div.nav-mobile {
    background-color: black;
}
    .nav-menu {
        display: none;
    }
    .nav-menu-mobile {
        display: inline;
    }
    .ul-nav {
        list-style: none;

        display: flex;
        flex-flow: column wrap;

        min-height: 100px;
        margin: 0 auto;
        padding: 5px;
    }

.flex {
    display: flex;
}
    .flex.responsive {
        flex-direction: column;
    }
/*<<<<<<<<<<<<<<<<<<< END  NAV MOBILE <<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* ******** PROJECTS MOBILE ************ */

ul.flex-container {
    display: flex;
    flex-direction: column;
    
    width: 85%;
    margin: auto auto;
    padding-top: 5%;
}

li.flex-li {
    margin-bottom: 15px;
    padding-bottom: 25px;
    background-color: white;
}

.li-img-mobile {
    width: 50%;
    height: auto;
    margin-bottom: 25px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
.flex-li img.li-img-mobile:hover {
    /* padding-right: .5em;
    padding-top: .5em;
    background-color: deepskyblue; */
    filter: drop-shadow(16px 16px 10px black);
    padding-top: .25em;
    padding-right: .25em;
}
header {
    padding: 5%;
}
h4.projects-h4 {
    margin-bottom: 1px;
}
a.repo-link, span.repo-link {
    font-size: .75em;
    color: gray;
}
a.repo-link:hover {
    padding: 5px;
    color: white;
    background-color: gray;
}
article.project-description {
    text-align: left;
    margin: 0 10%;
}


/*  ******** END PROJECTS MOBILE ******** */

/*  ******** BLOG MOBILE ******** */

.blog-header {
    text-align: center;
}
/*  ******** END BLOG MOBILE ******** */


/*<<<<<<<<<<<<<<<<<<< END MOBILE <<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*****  BREAKPOINT AT 600px  ****/
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 3em;
    }
    img.mobile-img-logo.center {
        display: none;
    }
    button.burger-menu, .nav-menu-mobile {
        display: none;
    }
    .nav-menu {
        display: block;
    }
    .ul-nav {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        padding-bottom: .5px;
    }
}
/*<<<<<<<<<<<<<<<<< END MIN 600px <<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media only screen and (min-width: 700px) {
    header {
        box-shadow: 5px 5px 9px rgba(94, 104, 121, 0.3);
    }
    main.home-container  {
        margin: 3em;
        /* box-shadow: 5px 5px 9px rgba(94, 104, 121, 0.3); */
        border-radius: 1em;
    }
    ul.flex-container {
        flex-flow: row wrap;
        justify-content: space-between;
        
        margin: auto auto;

    }
    li.flex-li {
        
        margin-bottom: 15px;
        padding-bottom: 25px;
        background-color: white;

        flex: 2 2 50%;
    }
    .li-img-mobile {
        flex: 1 2 auto;

        width: 50%;
        height: auto;
        margin-bottom: 25px;
    }

    /*  PETS */
    .flex.responsive {
        flex-direction: row;
    }
    /* ***** */

    /* ABOUT */
    div.resume-container {
        padding: 3em;
    }
    .resume-container .work-list li:last-child {
        font-size: 1.10em;
        max-width: 30em;
    }
}
/*****  BREAKPOINT AT 650px  ****/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* STYLES */

.text-center {
    text-align: center;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    
}
.no-bullet-list {
    list-style: none;
}
@media only screen and (min-width: 1000px) {
    div.resume-container {
        margin: 1em 15em;
    }
}

/* ***************************************** */
