<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>    
</head>

<body>
    <%- include('../partials/header'); %>

    <main>
        <% projectsData.projects.map((p) => { %>
            <li><%= p.projectName %></li>
        
        <% }) %>
    

    </main>

    <footer>
        <%- include('../partials/footer')%>
    </footer>
    <script src="./scripts.js"></script>
</body>
</html>