<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>    
</head>

<body>
    <%- include('../partials/header'); %>

    <main>Main</main>
    <footer>
        <%- include('../partials/footer')%>
    </footer>
    <script src="./scripts.js"></script>
</body>
</html>